.contact-container {
  justify-content: space-between ;
  gap: 5rem;
}
.contact-container > div {
  flex: 0;
  
}

.contact-right {
  width: 100%;
}
.contact-left {
  gap: 0.5rem;
}

.contactsModes {
  margin-top: 2rem;
  gap: 1rem;
  width: 100%;
}

.contactsModes .row {
  gap: 1.5rem;
}

.mode {
  width: 16rem;
  padding: 1rem;
  border: 0.8px solid rgba(128, 128, 128, 0.143);
  border-radius: 5px;
  gap: 1rem;
  transition: all 300ms ease-in;
}

.mode .btn {
  width: 100%;
  background: #eeeeff;
  color: var(--blue);
  font-size: 0.9rem;
  font-weight: 600;
}

.mode >:nth-child(1) {
  width: 100%;
  gap: 1.6rem;
}
.mode .detail .primaryText {
  font-size: 1.1rem;
  font-weight: 600;
}

.mode:hover {
  scale: 1.1;
  box-shadow: var(--shadow);
}
.mode .btn:hover {
  background: var(--blue-gradient);
  scale: 0.8;
  box-shadow: var(--shadow);
  color: white;
}
